<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="d-flex align-items-center justify-content-between">
                <span>{{'brand.brands' | translate}}</span>
                <button class="btn btn-success" routerLink="/brands/add">
                    <i class="fa fa-plus fa-lg"></i>
                </button>
            </h2>

            <table class="table table-responsive-sm">
                <thead>
                    <tr>
                        <th>{{'common.name' | translate}}</th>
                        <th>{{'common.created_at' | translate}}</th>
                        <th>{{'common.updated_at' | translate}}</th>
                        <th class="text-right">{{'common.actions' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let brand of data">
                        <td>{{brand?.name}}</td>
                        <td>{{brand?.created_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{brand?.updated_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td class="d-flex align-items-center justify-content-end">
                            <a class="text-primary" [routerLink]="'update/'+brand?.id">
                                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                            </a>
                            <!-- <a class="text-danger ml-1 pointer" (click)="onDeleteBrand(brand)">
                                <i class="fa fa-close fa-lg" aria-hidden="true"></i>
                            </a> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>