.img-preview-wrapper {
  margin-top: 5px;
  padding: 10px;

  width: 100%;
  border: solid 2px var(--secondary);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .img-preview {
    max-width: 100%;
    min-width: 120px;
    // min-height: 150px;
  }
}
